@font-face {
  font-family: "iconfont"; /* Project id 3375617 */
  src: url('iconfont.woff2?t=1651660703904') format('woff2'),
       url('iconfont.woff?t=1651660703904') format('woff'),
       url('iconfont.ttf?t=1651660703904') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye:before {
  content: "\e648";
}

.icon-gongcheng:before {
  content: "\e649";
}

.icon-gongcheng-:before {
  content: "\e737";
}

.icon-gongcheng-1:before {
  content: "\e738";
}

.icon-gongchengguanli:before {
  content: "\e603";
}

.icon-shuiziyuan:before {
  content: "\e671";
}

.icon-zhengce:before {
  content: "\e60c";
}

.icon-zhengce1:before {
  content: "\e62e";
}

